.cart{
    margin-top: 10%;
    &__head{
        margin-top:10% ;
        text-align: center;
    }
    &__header{
        display:none;
        
    }

    &__checkout{
        margin-left: 40%;
        border-radius: 5px;
       
       padding: 5%;
       margin-top: 10%;
       background-color: white;
    }
}